<footer class="bg-dark text-center p-4">
    <h1>Historia</h1>
    <p>
        Acme Markets es una cadena estadounidense de supermercados. Estas tiendas venden principalmente productos alimenticios. Las franquicias están presentes en gran medida en toda la costa este de Estados Unidos, en particular, en Nueva Inglaterra. Actualmente hay más de 160 tiendas minoristas propiedad de Acme, lo que las hace muy exitosas en el noreste, pero no mucho en otros lugares.
    </p>
</footer>