<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head.ejs')%>
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center" >
        <section>
            <h1 class="display-1">
                Nosotros
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut voluptatem ad nisi Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum similique id cupiditate doloribus ad nesciunt ipsam ducimus autem beatae excepturi. Nostrum maxime maiores est praesentium quidem fuga totam fugiat incidunt. vero voluptates nostrum, laudantium consectetur ipsum. Corrupti quaerat eos, soluta libero perspiciatis numquam quasi voluptatibus natus eius architecto?</p>
        </section>
    </main>
    <div style="background-color: aliceblue;">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, quisquam recusandae. Quam pariatur labore possimus. Ullam veniam, maxime debitis deserunt sit ut labore repellendus recusandae, quod officia unde eligendi quidem!</p>
        <div class="container">
            <div class="card item"  style="width: 14rem;">
                <img src="https://www.mhsatelba.com/wp-content/uploads/2021/08/icono-mision.png" class="card-img-top" alt="..." width="20px" height="120px">
                <div class="card-body">
                <h4 class="card-title" style="color:black;text-align: center;">Mision</h4>
                <p class="card-text" style="color:black;font-size: 10px;" >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

            <div class="card item"  style="width: 14rem;">
                <img src="https://www.pngall.com/wp-content/uploads/2016/05/Vision-Free-Download-PNG.png" class="card-img-top" alt="..." width="20px" height="120px">
                <div class="card-body">
                <h4 class="card-title" style="color:black;text-align: center;">Visión</h4>
                <p class="card-text" style="color:black;font-size: 10px;" >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

            <div class="card item"  style="width: 14rem;">
                <img src="https://symborg.com/wp-content/uploads/2019/10/valores.png" class="card-img-top" alt="..." width="20px" height="120px">
                <div class="card-body">
                <h4 class="card-title" style="color:black;text-align: center;">Valores</h4>
                <p class="card-text" style="color:black;font-size: 10px;" >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

            <br><br><br><hr style="color: black;">
        </div><br><br><br>

        <div class="contenedor">
            <div class="box">
                <img width="300px" height="200px"  src="https://media.licdn.com/dms/image/C4E12AQG5Q5M6gvgBrQ/article-cover_image-shrink_720_1280/0/1641317137422?e=2147483647&v=beta&t=nCE02dLP9uJeCOiLDrmmnNs1JCQUzYwpxd9AAW-O6fA" alt="">
            </div>
            <div class="box2">
                <h3 style="text-align: center;color: black;">Reconocimientos</h3><hr style="background-color:#23DAD4;height: 5px;">
                <p style="color: black;font-size: 10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates earum s Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt illo omnis magnam! Velit dolore quo ipsum delectus, harum, modi voluptate et quos nostrum Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero unde aliquid voluptates? Eligendi deserunt fugiat iste, pariatur commodi architecto ipsum sint molestias. Laboriosam similique ipsa voluptatibus ut ratione quisquam ipsam? voluptatibus vitae tenetur quaerat voluptatum quas totam. oluta dolores aspernatur atque, blanditiis dicta a, ipsum, perspiciatis recusandae dolorum sed cum provident pariatur minus hic neque omnis dignissimos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis explicabo possimus vero nihil doloribus veniam odit! Sapiente ullam distinctio quidem aliquam natus at similique harum, excepturi amet, laboriosam nemo! Quidem.</p>
            </div>
        </div>
    
        <br><br><br>
    </div>
</body>
</html>