<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head.ejs')%>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center" >
        <section>
            <h1 class="display-1">
                Ours Service
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut voluptatem ad nisi vero voluptates nostrum, laudantium consectetur ipsum. Corrupti quaerat eos, soluta libero perspiciatis numquam quasi voluptatibus natus eius architecto?</p>
        </section>
    </main>
</body>
</html>